html{
	font-size: 62.5%
}

* {
    padding: 0;
    margin: 0;
}

@font-face{
	font-family: Futura-Bold;
	src: url(../assets/fuentes/futura_bold.otf);
}

.logo{
	font-family: Futura-Bold;
	font-size: 3rem;
	letter-spacing: 0.25rem;
	padding: 0.5rem;
}
.titulo {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2rem;
    font-size: 2.5rem;
    font-family: Futura-Bold;
    margin: 2rem;
}

body { 

	color: #333 ;
	font-size: 1.2rem ;
	line-height: 1.6em;
	margin: 0;
}

.contenedor {
	width: 90%;
	max-width: auto;
	margin: 0 auto;
	padding: 0.5rem;
}

img {
	width: 100%; 
	padding: 0.5rem;
    margin: 0.5rem;
}

header nav ul li a {
	display: block;
	padding: 0.5rem 1rem;
   	color: #666;
    text-decoration: none;
    transition: 0.4 linear;
    border-radius: 5px;
    font-family: Futura-Bold;
    font-size: 1.5rem;
}

header nav ul li a:hover {
	background: lightyellow ;

}



main {
	background-color:#e3e3e0;
	padding: 2rem 0;
}


.areaTexto{
	
	resize: none;
}

.texto{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2rem;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.5rem;
}

.texto__footer{
	justify-content: start;
	align-items: center;
	height: 4rem;
	font-family: Futura-Bold;
	font-size: 1.75rem;
}


.contenedor__verMas{
	font-family: Futura-Bold;
	font-size: 2rem;
	letter-spacing: 0.5rem;
	color: #666;
	padding: 0.5rem 1rem;
	text-decoration: none;
	transition: 0.4 linear;
    border-radius:0.5rem;
} 

.iframeContenedor{
	justify-content: center;
	align-items: center;
	width: 95%;
	padding: 0.5rem;
	margin: 0.5rem;
}

hr {
	outline-style: groove;
	padding: 0;
}

footer {
	background-color: lightgoldenrodyellow;
	padding: 2rem 0;
	margin: 0;
	height: auto;
}

.contenedor__linksFooter{
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	height: 4rem;
}

.link__footer{
	width: 4rem;
	height: 4rem;
	padding: 0.4rem
}

.img__footer{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	padding: 0;
	margin: 0;
}

@media only screen and (min-width: 769px){
	iframe{
		width: 64rem;
		height: 36rem;
	}
}
